{{ define "default" }}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{ template "head" }}
</head>
<body class="">
	<div class="page">
		{{ template "aside" }}
		<div class="flex-fill">
			{{ template "header" }}
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="page-header">
						<h1 class="page-title">{{ .pagetitle }}</h1>
					</div>
				</div>
				{{ template "content" . }}
			</div>
		</div>
		{{ template "footer-sub" }}
		{{ template "footer" }}
	</div>
</body>
</html>
{{ end }}
